
<div id="footer-main" >
    <ul>
    <li><a href="https://github.com/tabassumsarah/"><i class="fa fa-github" style="background:#000;"></i></a></li>
    <li><a href="https://www.linkedin.com/in/tabassumsarah/"><i class="fa fa-linkedin" style=" background:#007bb6;"></i></a></li>
    <li><a href="https://twitter.com/s_tabassum"><i class="fa fa-twitter" style=" background:#00aced;"></i></a></li>
    <li><a href="http://stackoverflow.com/users/700530/jillionbug2fix"><i class="fa fa-stack-overflow" style=" background:#F48024;"></i> </a></li>
</ul>      
    
</div>